body {
    font-family: Arial, sans-serif;
    background-color: #800000;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    background-color: #333;
    color: #F08080;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    margin: 0 15px;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tbd-button, .social-button {
    margin: 0 15px;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out;
}

.tbd-button:hover, .game-button:hover, .social-button:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1);
}
.social-button img, .tbd-button img{
    width: 30px;
    height: 30px;
    margin-bottom: -10px;
}

.game-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px; 
    height: 150px;
    margin: 10px;
    border: 2px solid #333;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    text-align: center;
    font-size: 14px;
    transition: all 0.3s ease;
}

.game-button img {
    width: 120px;
    height: auto;
    border-radius: 10px;
}

.container {
    margin-top: 20px;
}

.calendar-container {
    margin: 20px auto;
    max-width: 800px;
    width: 100%;
}

iframe {
    width: 100%;
    height: 600px;
    border: none;
}

 .slope-container {
            max-width: 960px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }

        .slope-embed-container {
            position: relative;
            padding-bottom: 60%;
            height: 0;
            overflow: hidden;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .slope-embed-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}
