body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    background-color: #800000;
    color: #fff;
    height: 100vh;
}

.header, header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #F08080;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

nav a, .button, .social-button {
    margin: 0 20px;
    color: #F08080;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav a:hover, .button:hover, .social-button:hover {
    color: #fff;
}

.container {
    padding: 50px;
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
}

.button, .social-button, .game-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
    color: #fff;
}

.button img, .social-button img {
    width: 40px;
    height: 40px;
    margin-bottom: -10px;
}

.button:hover, .social-button:hover, .game-button:hover {
    background-color: #fff;
    color: #800000; /* Maroon color */
}

.game-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
    color: #fff;
    width: 100%;
    height: 100%;
}

.game-button img {
    width: 80px; /* Adjust image size as needed */
    height: 80px; /* Adjust image size as needed */
    margin-bottom: 10px;
}

.game-button:hover {
    background-color: #fff;
    color: #800000; /* Maroon color */
}

.footer {
    background-color: #000; /* Black color */
    color: #fff; /* White text color */
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
